<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PEM-ITA</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    
    <!--Temos que ver que ícone iremos usar-->
</head>

<body>
    <header>
        <!--Aqui fica o cabeçalho-->
        <div class="header-div">
            <div id="img-logo"><a href="index.html"><img id="logo" src="Logo_Editada.png" alt="Logo_Pem_Ita"></a></div>
            
        </div>
    </header>
    <nav>
      <a href="/">Mapa</a>
      <a href="/sobre">Sobre</a>
      <a href="/info">Informações</a>
  
      <th:block th:if="${usuarioLogado == null}">
          <a href="/login">Login</a>
      </th:block>
  
      <th:block th:if="${usuarioLogado != null}">
          <span>Bem-vindo, <strong th:text="${usuarioLogado}"></strong></span>
          <a href="/logout">Sair</a>
      </th:block>
  
      <th:block th:if="${usuarioLogado == 'Ana'}">
          <a href="/cadastro">Cadastro</a>
          <a href="/ponto">AddPonto</a>
      </th:block>
  </nav>
     <section>
        <div>
          <h1>Adicionar novo ponto</h1>
          <form class="form-login" method="POST" action="/addPonto">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>
    
            <label for="aliases">Aliases (separados por vírgula):</label>
            <input type="text" id="aliases" name="aliases" required>
    
            <label for="coordenadas">Coordenadas (latitude, longitude):</label>
            <input type="text" id="coordenadas" name="coordenadas" required>
    
            <label for="popup">Popup (HTML permitido):</label>
            <input type="text" id="popup" name="popup" required>
    
            <button type="submit">Enviar</button>
          </form>
        </div>
      </section>
    <footer>
        <p>emailexemplopemita@gmail.com</p>
        <p>&copy; 2025 - All Rights Reserved, PEM-ITA</p>
        
    </footer>
</body>

</html>
