<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PEM-ITA</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    
    <!--Temos que ver que ícone iremos usar-->
</head>

<body>
    <header>
        <!--Aqui fica o cabeçalho-->
        <div class="header-div">
            <div id="img-logo"><a href="/index"><img id="logo" src="Logo_Editada.png" alt="Logo_Pem_Ita"></a></div>
            
        </div>
    </header>
    <nav>
        <a href="/">Mapa</a>
        <a href="/sobre">Sobre</a>
        <a href="/info">Informações</a>
    
        <th:block th:if="${usuarioLogado == null}">
            <a href="/login">Login</a>
        </th:block>
    
        <th:block th:if="${usuarioLogado != null}">
            <span>Bem-vindo, <strong th:text="${usuarioLogado}"></strong></span>
            <a href="/logout">Sair</a>
        </th:block>
    
        <th:block th:if="${usuarioLogado == 'Ana'}">
            <a href="/cadastro">Cadastro</a>
            <a href="/ponto">AddPonto</a>
        </th:block>
    </nav>
    <section class="sobre-container">
    <div class="valores-materiais">
      <h2>Editar valores pagos por material</h2>
      <form action="#" method="post" class="form-cadastro">
        <label for="papel">Papel (R$/kg):</label>
        <input type="number" id="papel" name="papel" step="0.01" placeholder="0.20" required />

        <label for="plastico">Plástico (R$/kg):</label>
        <input type="number" id="plastico" name="plastico" step="0.01" placeholder="0.50" required />

        <label for="vidro">Vidro (R$/kg):</label>
        <input type="number" id="vidro" name="vidro" step="0.01" placeholder="0.10" required />

        <label for="metal">Metal (R$/kg):</label>
        <input type="number" id="metal" name="metal" step="0.01" placeholder="1.00" required />

        <label for="oleo">Óleo de cozinha (R$/L):</label>
        <input type="number" id="oleo" name="oleo" step="0.01" placeholder="0.80" required />

        <button type="submit">Salvar Valores</button>
      </form>
    </div>
  </section>
    <footer>
        <p>emailexemplopemita@gmail.com</p>
        <p>&copy; 2025 - All Rights Reserved, PEM-ITA</p>
        
    </footer>
</body>

</html>
