<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PEM-ITA</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    
    <!--Temos que ver que ícone iremos usar-->
</head>

<body>
    <header>
        <!--Aqui fica o cabeçalho-->
        <div class="header-div">
            <div id="img-logo"><a href="/"><img id="logo" src="Logo_Editada.png" alt="Logo_Pem_Ita"></a></div>
            
        </div>
    </header>
    <nav>
        <a href="/">Mapa</a>
        <a href="/sobre">Sobre</a>
        <a href="/info">Informações</a>
    
        <th:block th:if="${usuarioLogado == null}">
            <a href="/login">Login</a>
        </th:block>
    
        <th:block th:if="${usuarioLogado != null}">
            <span>Bem-vindo, <strong th:text="${usuarioLogado}"></strong></span>
            <a href="/logout">Sair</a>
        </th:block>
    
        <th:block th:if="${usuarioLogado == 'Ana'}">
            <a href="/cadastro">Cadastro</a>
            <a href="/ponto">AddPonto</a>
        </th:block>
    </nav>
    
    <section class="sobre-container">            
        <h1 class="titulo-sobre">Quem Somos</h1>

        <div class="texto-sobre">
            <p>
                Somos o Projeto EcoMap Itapetininga (PEM-ITA), uma iniciativa acadêmica e sustentável desenvolvida por formandos da área de informática do ano de 2025, com o propósito de transformar a relação da cidade de Itapetininga com a reciclagem.
                <br><br>
                Nosso objetivo é criar um portal web que facilite a localização de pontos de coleta e empresas de reciclagem, promovendo a educação ambiental e incentivando práticas conscientes de descarte de resíduos.
                <br><br>
                Trabalhamos para conectar cidadãos, empresas coletoras e órgãos públicos em um ecossistema colaborativo, onde todos possam contribuir para a redução do impacto ambiental, a melhoria da gestão de resíduos urbanos e o fortalecimento da cultura da reciclagem.
            </p>
        </div>
    
        <div class="imagem-sobre">
            <img class="foto-equipe" src="img/equipe.jpeg" alt="Foto da equipe do projeto">
        </div>
    </section>
    <footer>
        <p>emailexemplopemita@gmail.com</p>
        <p>&copy; 2025 - All Rights Reserved, PEM-ITA</p>
        
    </footer>
</body>

</html>